nav {
	background-color: rgba(0,0,0,.1);
	height: 40px;
}

.nav {
	margin-top: 5px;
	ul { list-style-type: none; padding: 0; margin: 0; }
	li { display: inline; padding: 10px; }
	a {
		color: rgba(255,255,255,.8);
		font-size: 1.2em;
		text-shadow: none !important;
		&:hover { color: $blue; }
	}
}

.logged-in .navbar-fixed-top {
  top: 32px;
}

nav.is-stuck {
	background-color: rgba(0,0,0,.4);
}

.logo { padding-top: 10px;}

.navbar-brand { width: 120px; }
