
// Fonts
$base-font-family: 'Proxima Nova', sans-serif;
$header-font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$base-font-size: 14px;

$base-font-color: #494949;

$black: rgba(28,16,6,.9);
$blue: #6aaac3;
$blue-dark: #5199AF;

$borders-over-image: 1px solid white;