// html { font-size: $base-font-size; }

// body {
//   	font-family: $base-font-family;
//   	font-size: 1rem;
//   	color: $base-font-color;
//   	background-color: white;
// }

h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 6px;
}

h1, h2 { font-weight: 700 }

// h2 { font-size: 3.8rem; }

// h3 { font-size: 3rem; margin-bottom: 20px; }

// h4 { font-size: 2.2rem; }

// h5 { font-size: 2rem; margin-top: 60px; }

// h6 { font-size: 1.6rem; }

// p { font-size: 1.2rem; }

img { width: 100%; height: auto; }

.main { margin: 50px 0; }

.row-padding { padding: 50px 0; }

.post .container {
	max-width: 860px;
}

.font-size-large {
	font-size: $font-size-large;
}

