html {
	font-size: $font-size-base;
	@include breakpoint(baby-bear) { font-size: 20px }
	@include breakpoint(mama-bear) { font-size: 22px; }
	@include breakpoint(papa-bear) { font-size: 24px; }
 }
body {
	@include breakpoint(baby-bear) { font-size: 20px }
	@include breakpoint(mama-bear) { font-size: 22px; }
	@include breakpoint(papa-bear) { font-size: 24px; }
}

body.single-ed_story, body.single-ed_chapter, body.single-learning_object {
	h1, h2, h3, h4, h5 {
		font-family: $font-family-thin;
		font-weight: 100;
	}
	font-size: $font-size-small;
}

h1, h2, h3, h4, h5 {
	margin-top: 10px;
	margin-bottom: 6px;
}

h1, h2 { font-weight: 700 }

h6 { margin: 3px 0; }

img { width: 100%; height: auto; }

.color-brand-light { color: $brand-light; }

a.link-color-dark { color: $gray-dark; &:hover { color: $blue; }}
a.link-color-brand-light { color: $brand-light; &:hover { color: $blue; }}

.font-size-ex-small { font-size: $font-size-ex-small; }
.font-size-small { font-size: $font-size-small; }
.font-size-large { font-size: $font-size-base; @include breakpoint(mama-bear) { font-size: $font-size-large; } }
.font-size-ex-large { font-size: $font-size-base; @include breakpoint(mama-bear) { font-size: $font-size-ex-large; } }

input {
	color: $gray-light;
	padding: 6px 18px;
	font-size: .8em;
	border-radius: 20px;
	border: none;
	-moz-box-shadow:    inset 0 0 6px $gray-light;
   	-webkit-box-shadow: inset 0 0 6px $gray-light;
   	box-shadow:         inset 0 0 6px $gray-light;
	&:focus { outline: none; color: $gray-lighter; background-color: $brand-info; }
}

input::-webkit-input-placeholder { color: $brand-light; }
input:-moz-placeholder { color: $brand-light; } /* FF 4-18 */
input::-moz-placeholder { color: $brand-light; } /* FF 19+ */
input:-ms-input-placeholder { color: $brand-light; } /* IE 10+ */

input:focus::-webkit-input-placeholder { color: $gray-lighter; }
input:focus:-moz-placeholder { color: $gray-lighter; } /* FF 4-18 */
input:focus::-moz-placeholder { color: $gray-lighter; } /* FF 19+ */
input:focus:-ms-input-placeholder { color: $gray-lighter; } /* IE 10+ */

.inline {
	display: inline;
}

.underlined { padding-bottom: 20px; border-bottom: 1px solid; }

.underlined-dark { border-color: $gray-darker; }

.underlined-light { border-color: $gray-lighter; }

.circle-cropped img {
	padding: 6px;
	border-radius: 400px;
}

.padded-left { padding-left: 6px; }

