html {
	font-size: $font-size-base;
	@include breakpoint(baby-bear) { font-size: 20px }
	@include breakpoint(mama-bear) { font-size: 22px; }
	@include breakpoint(papa-bear) { font-size: 24px; }
 }
body {
	@include breakpoint(baby-bear) { font-size: 20px }
	@include breakpoint(mama-bear) { font-size: 22px; }
	@include breakpoint(papa-bear) { font-size: 24px; }
}

h1, h2, h3, h4, h5 {
	margin-top: 10px;
	margin-bottom: 6px;
}

h1, h2 { font-weight: 700 }

h6 { margin: 3px 0; }

img { width: 100%; height: auto; }

a.link-color-dark { color: $gray-dark; &:hover { color: $blue; }}

.font-size-ex-small { font-size: $font-size-ex-small; }
.font-size-small { font-size: $font-size-small; }
.font-size-large { font-size: $font-size-large; }
.font-size-ex-large { font-size: $font-size-ex-large; }

input {
	color: $gray;
	padding: 6px 18px;
	font-size: .8em;
	border-radius: 20px;
	border: none;
	-moz-box-shadow:    inset 0 0 6px $gray-light;
   	-webkit-box-shadow: inset 0 0 6px $gray-light;
   	box-shadow:         inset 0 0 6px $gray-light;
	&:focus { outline: none; background-color: $brand-info; }
}

input:focus::-webkit-input-placeholder { color:transparent !important; }
input:focus:-moz-placeholder { color:transparent !important; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent !important; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent !important; } /* IE 10+ */

.mc-form {
	width: 80%;
	margin: 0 auto;
}

.underlined { padding-bottom: 20px; border-bottom: 1px solid; }

.underlined-dark { border-color: $gray-darker; }

.circle-cropped img {
	padding: 6px;
	border-radius: 400px;
}

.padded-left { padding-left: 6px; }

