/**
 *	BASIC FORMATTING
 *  Includes overrides of Bootstrap's container and columns classes.
 *  Plus post specific styles for site structure and formatting.
 */

.featured, .post-thumbnail {
	position: relative;
}

.hero-image > .container-fluid {
	padding: 0;
}

.hero-image {
	@include text-over-image();

	z-index: 0;

	a { color: $gray-lighter; }

	.container {
		position: absolute;
		@include block-centered(80%);
		max-width: 1200px;
		top: 20%;
	}
}

.hero-image-behind {
	height: 600px;
	background-color: white;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.hero-image-behind-short {
	//override height set in javascript
	height: 200px !important;
	@include breakpoint(baby-bear) { height: 300px !important; }
	@include breakpoint(mama-bear) { height: 350px !important; }
	@include breakpoint(papa-bear) { height: 400px !important; }
}

.main {
	padding: 50px 0;
	background-color: white;
	z-index:1;
	@include breakpoint(baby-bear) { padding: 35px 0; }
	@include breakpoint(mama-bear) { padding: 40px 0; }

	h2 {
		margin-bottom: 30px;
		text-align: center;
		// margin-top: 100px;
	}

	.container:first-child h2 {
		margin-top: 0px;
	}
}

.home .main {
	-ms-transform: translateY(-20px);; /* IE 9 */
   	-webkit-transform: translateY(-20px); /* Safari */
    transform: translateY(-20px);
}

.main.status-draft {
	background-color: #FFFAED;
}

.container-small {
	max-width: 700px;
}

.container-large {
	width: 100%;
	max-width: 1300px;
}

.container-padding {
	padding-top: 20px;
	padding-bottom: 20px;
	@include breakpoint(baby-bear) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	@include breakpoint(mama-bear) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	@include breakpoint(papa-bear) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.container-padding-top {
	padding-top: 40px;
	@include breakpoint(baby-bear) { padding-top: 60px; }
	@include breakpoint(mama-bear) { padding-top: 100px; }
	@include breakpoint(papa-bear) { padding-top: 140px; }
}

.container-little-padding-top {
	padding-top: 40px;
}

.container-fluid-no-padding {
	padding-left: 0;
	padding-right: 0;
}


.row-ex-padding { padding: 80px 0; }
.row-padding { padding: 50px 0; }
.row-some-padding { padding: 20px 0; }
.row-little-padding { padding: 10px 0; }

.row-padding-top { padding-top: 40px; }

.col-extra-padding {
	padding-left: 30px;
	padding-right: 30px;
}

.col-little-padding {
	padding-left: 5px;
	padding-right: 5px;
}
.col-no-padding {
	padding-left: 0;
	padding-right: 0;
}

.main-content > .container {
	max-width: 740px;
	@include breakpoint(papa-bear) { max-width: 960px; }
}

.main-content.narrow > .container {
	max-width: 700px;
	@include breakpoint(papa-bear) { max-width: 840px; }
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: background-color 1s ease;
	-moz-transition: background-color 1s ease;
	transition: background-color 1s ease;
}

.split {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	@include breakpoint(baby-bear) {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 30px;
		-moz-column-gap: 30px;
		column-gap: 30px;
	}
}

.admin-bar .iframe-full-width-height {
	margin-top: -32px;
}

/**
 *	POST FEED
 *  Styles for the generic post feed, displays in a grided format.
 *  Utilized in the .stort-thumbnail container in the post-feed-thumbnail.php partial file
 */

.main .post, .main .blog_post, .main .page  {
	padding-top: 0;
	padding-bottom: 15px;
	@include breakpoint(mama-bear) {
		padding-bottom: 30px;
	}
}

.post-thumbnail, .featured-post-thumbnail {
	background-color: black;
}



.post-meta-box, .featured-meta-box, .featured-post-meta-box {
	position: absolute;
	@include text-over-image();
}

.post-meta-box, .featured-post-meta-box {
	top: 2%;
	text-align: center;
	width: 96%;
	left: 3%;
	text-transform: uppercase;

	@include breakpoint(baby-bear) {
		top: 12%;
		@include block-centered(80%);
		text-align: center;
	}

	@include breakpoint(mama-bear) {
		top: 0%;
		width: 82%;
		margin-left: -41%;
	}

	@include breakpoint(papa-bear) {
		top: 5%;
	}
}

.post-meta-box-lg .post-title {
	font-size: 1.3rem;
	@include breakpoint(baby-bear) {
		font-size: 1.8rem;
	}
}

.post-meta-box .post-category, .post-meta-box .blog-post-author, .featured-post-meta-box .post-category, .featured-post-meta-box .blog-post-author {
	display: none; // hide on small screens
	@include breakpoint(baby-bear) {
		display: block;
		padding-bottom: 6px;
		border-bottom: 2px solid $gray-lighter;
	}
}

.post-meta-box .read-more-btn {
	opacity: 0;
	position: absolute;
	top: 50px;
	@include block-centered(200px);
}

.featured-post-meta-box {
	@include block-centered(80%);
	top: 2%;
	text-align: center;

	@include breakpoint(baby-bear) {
		@include block-centered(74%);
		top: 4%;
	}

	@include breakpoint(mama-bear) {
		top: 15%;
	}
	@include breakpoint(papa-bear) {
		top: 20%;
	}
}

.featured-post-meta-box p {
	text-transform: none;
	display: none;
	@include breakpoint(baby-bear) {
		display: inline-block;
	}
}

.featured-post-meta-box .post-title {
  	font-size: 1.6rem;
  	@include breakpoint(baby-bear) {
		font-size: 2.1rem;
	}
	@include breakpoint(mama-bear) {
		font-size: 3rem;
	}
}

.featured-meta-box {
	z-index: 2;
	top: 5%;
	@include block-centered(90%);
	text-align: center;

	h2 { display: inline-block; }
	h5, p { display: none; }

	@include breakpoint(baby-bear) {
		text-align: left;
		width: 85%;
		top: 15%;
		left: 60px;
		margin-left: 0;
		p { display: block; }
		p { border-top: 2px solid $gray-lighter; padding-top: 8px; }
	}
	@include breakpoint(mama-bear) {
		width: 85%;
		.read-more-btn {
			display: inline-block;
			width: 140px;
  			margin: 0 auto;
  		}
		h5 { display: block; margin-bottom: 0; }
	}
}

.home .featured-meta-box {
	h1 { display: none; }
	h2 { font-size: 1.4rem; }
	top: 30%;
	@include breakpoint(baby-bear) {
		h1 { display: block; }
		h2 { font-size: 2.4rem; }
		top: 20%;
		@include block-centered(60%);
		text-align: center;
	}
	@include breakpoint(mama-bear) {
		@include block-centered(80%);
		top: 30%;
	}
}

.post-description {
	text-transform: none;
}



/**
 *	POST PAGE
 *  Styles for the a single post on that page.
 */

.hero-image .post-title {
	position: absolute;
	@include block-centered(80%);
	bottom: 20px;
	text-align: center;
	font-size: 1.6rem;
	@include breakpoint(baby-bear) {
		font-size: 2.4rem;
	}
	@include breakpoint(mama-bear) {
		@include block-centered(60%);
	}
}

.hero-image-caption {
	position: absolute;
	top: 100%;
	right: 0;
	color: $gray-light;
	text-shadow: none;
	font-size: .6em;
	text-align: right;
	max-width: 90%;
	margin-top: 5px;
	margin-right: 15px;
	@include breakpoint(mama-bear) {
		max-width: 500px;
	}
}

.main-content > .container > p {
	margin: 0 0 14px;
	@include breakpoint(papa-bear) {
		margin: 0 10% 14px 10%;

	}
}

.main-content > .container > hr { margin: 50px 25% 50px 25%; color: $brand-info; }


.bylines {
	margin-bottom: 20px;
	text-align: center;
}

.byline {
	display: inline-block;
	font-weight: 700;
	padding: 0 5px;
	margin: 0;
	a { color: $text-color; &:hover, &:focus { color: $brand-primary; } }
}

.byline:after { content: " |"; }

.byline:last-child:after { content: ""; }

.post-meta-bylines {
	.bylines {
		margin-bottom: 4px;
	}
	.byline {
		color: $brand-light;
		a { color: $brand-light; &:hover, &:focus { color: $brand-primary; } }
	}
}

.main-content .post-meta {
	padding-top: 5px;
	border-top: 1px solid $brand-light;
	color: $brand-light;
	i, .badge, span { vertical-align: bottom; }
	.badge { text-transform: lowercase; }
	a {
		color: $brand-light;
		&:hover {
			color: $blue;
		}
	}
}

.edit-post-link {
	text-align: center;
	font-size: .7em;
	margin-top: 100px;
}


/**
 *	ABOUT PAGE
 *  Styles for the a single post on that page.
 */

.user {
	text-align: center;
	margin-bottom: 30px;
	h4 { margin-bottom: 0; }
	h6 { margin-top: 0; color: $gray-light; }
	.btn {
		padding: 0;
		color: $blue;
		&:hover { color: $gray-dark; }
	}
	img { @include opacity-transition(.8); }
}

.author-link {
  display: inline-block;
  padding-right: 4px;
  padding-bottom: 0px;
  margin-top: 0;
}

.col-md-lead-in {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 0;
	@include breakpoint(mama-bear) {
		text-align: right;
		margin-top: 80px;
	}
}

.col-sm-lead-in {
	text-align: center;
	margin-bottom: 30px;
	@include breakpoint(baby-bear) {
		text-align: right;
	}
}



.credit-wrapper {
	padding: 25px 0;
	width: auto;
	@include breakpoint(mama-bear) { padding: 35px 0; }
	@include breakpoint(papa-bear) { padding: 45px 0; }

	img {
		height: 44px;
		width: auto;
		display: block;
  		margin: 0 auto;
  		@include breakpoint(mama-bear) { height: 54px; }
  		@include breakpoint(papa-bear) { height: 62px; }
	}
}

.cooperator-feed a {
	padding: 1px;
  	display: inline-block;
  	height: 30px;
}


/**
 *	ARCHIVE & SEARCH PAGE
 *  Styles for the archive and search page.
 *  Both a successful search and a no-results search, yearly search and monthly search.
 */

/**
 *	SEARCH BAR
 *  Styles for the search bar as it appears on the main sections of the site.
 *  The hidden top search bar is styled in nav.scss
 */

 .main form.searchform {
 	margin: 50px auto;
 	text-align: center;
 	input {
 		width: 100%;
 		max-width: 300px;
 		@include breakpoint(baby-bear) {
 			width: 50%;
 		}
 	}
 }


/**
 *	FOOTER - SITE WIDE
 *  Styles for the a the site-wide footer
 */

footer {
	background-color: $gray;
	color: $gray-lighter;
	padding: 0 15px 10px 15px;
	text-align: center;
	font-size: .8em;
	h6 { text-transform: uppercase; font-weight: 700; }
}

footer .col {
	min-height: 180px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid $gray-light;
	@include breakpoint(mama-bear) { border-right: 1px solid $gray-light; border-bottom: none; }
	&:last-child{ border-right: none; border-bottom: none; }
}

footer img {
	padding: 20px;
	width: 60%;
	min-width: 120px;
}

.mc-form {
	width: 80%;
	margin: 0 auto;
}




