@import 'nav';

.featured {
	position: relative;
}

.hero-image > .container-fluid {
	padding: 0;
}

.hero-image {
	@include text-over-image();

	a { color: $gray-lighter;}

	.post-title {
		position: absolute;
		width: 100%;
		bottom: 10px;
		text-align: center;
	}
}

.story-thumbnail {
	position: relative;

	&:hover {
		opacity: .9;
		a h3 { color: $gray-lighter; }
	}
}

.story-info-box {
	position: absolute;
	top: 10%;
	left: 50%;
	width: 300px;
	margin-left: -(150px);
	text-align: center;
	text-transform: uppercase;

	.post-category {
		padding-bottom: 6px;
		border-bottom: 2px solid $gray-lighter;
	}

	@include text-over-image();
}

.featured-story-info-box {
	position: absolute;
	width: 80%;
	top: 15%;
	left: 100px;
	@include text-over-image();

	h2 { display: inline-block; }
	p { border-top: 2px solid $gray-lighter; padding-top: 8px; }
}

.featured-image-caption {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: .6em;
	max-width: 200px;
	@include breakpoint(mama-bear) {
		bottom: -25px;
		color: $text-color;
		text-shadow: none;
	}
}


.story-feed .post {
	padding-top: 30px;
}

.story-byline {
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
	a { color: $text-color; &:hover { color: $brand-primary; } }
}

footer {
	background-color: #393939;
}


