/**
 *	BASIC FORMATTING
 *  Includes overrides of Bootstrap's container and columns classes.
 *  Plus post specific styles for site structure and formatting.
 */

.featured, .post-thumbnail {
	position: relative;
}

.hero-image > .container-fluid {
	padding: 0;
}

.hero-image {
	@include text-over-image();

	a { color: $gray-lighter; }
}

.hero-image-behind {
	height: 600px;
	background-color: white;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.hero-image-behind-short {
	//override height set in javascript
	height: 200px !important;
	@include breakpoint(baby-bear) { height: 300px !important; }
	@include breakpoint(mama-bear) { height: 350px !important; }
	@include breakpoint(papa-bear) { height: 400px !important; }
}

.main {
	padding: 50px 0;
	@include breakpoint(baby-bear) { padding: 35px 0; }
	@include breakpoint(mama-bear) { padding: 40px 0; }

	h2 {
		margin-bottom: 30px;
		text-align: center;
		margin-top: 100px;
	}

	.container:first-child h2 {
		margin-top: 0px;
	}
}

.main.status-draft {
	background-color: #FFFAED;
}

.container-small {
	max-width: 700px;
}

.container-large {
	width: 100%;
	max-width: 1300px;
}

.container-padding-top {
	padding-top: 40px;
	@include breakpoint(baby-bear) { padding-top: 60px; }
	@include breakpoint(mama-bear) { padding-top: 100px; }
	@include breakpoint(papa-bear) { padding-top: 140px; }
}

.container-little-padding-top {
	padding-top: 40px;
}

.row-padding { padding: 50px 0; }
.row-some-padding { padding: 20px 0; }
.row-little-padding { padding: 10px 0; }

.col-extra-padding {
	padding-left: 30px;
	padding-right: 30px;
}

.col-little-padding {
	padding-left: 5px;
	padding-right: 5px;
}
.col-no-padding {
	padding-left: 0;
	padding-right: 0;
}

.main-content > .container {
	max-width: 740px;
	@include breakpoint(papa-bear) { max-width: 960px; }
}

/**
 *	HOME PAGE
 *  Styles for the home page
 */

.home .featured-meta-box h1, .home .featured-meta-box h2 {
	opacity: 0;
	margin-top: 40px;
}

.main-widgeted-text span { opacity: 0; color: $blue; }


/**
 *	POST FEED
 *  Styles for the generic post feed, displays in a grided format.
 *  Utilized in the .stort-thumbnail container in the post-feed-thumbnail.php partial file
 */

.main .post, .main .blog_post, .main .page  {
	padding-top: 0;
	padding-bottom: 15px;
	@include breakpoint(mama-bear) {
		padding-bottom: 30px;
	}
}

.post-thumbnail {
	background-color: black;
}

.post-thumbnail img {
	opacity: .8;
}

.post-meta-box, .featured-meta-box {
	position: absolute;
	@include text-over-image();
}

.post-meta-box {
	top: 2%;
	text-align: center;
	width: 96%;
	left: 3%;
	text-transform: uppercase;

	.post-title {
		font-size: 1.3rem;
	}

	@include breakpoint(baby-bear) {
		top: 12%;
		left: 50%;
		width: 80%;
		margin-left: -(40%);
		text-align: center;
		.post-title {
			font-size: 1.8rem;
		}
	}

	@include breakpoint(mama-bear) {
		top: 0%;
		width: 96%;
		margin-left: -48%;
	}

	@include breakpoint(papa-bear) {
		top: 5%;
	}

	.read-more-btn {
		display: none; // hide on small screens
		@include breakpoint(baby-bear) {
			display: inline-block;
		}
	}

	.post-category, .blog-post-author {
		display: none; // hide on small screens
		@include breakpoint(baby-bear) {
			display: block;
			padding-bottom: 6px;
		border-bottom: 2px solid $gray-lighter;
		}
	}

	.post-meta {
		display: none; // hide on small screens
		@include breakpoint(baby-bear) {
			display: block;
			margin-top: 4px;
			margin-bottom: 6px;
		}
	}
}

.featured-story .post-meta-box {

	@include breakpoint(baby-bear) {
		width: 70%;
		margin-left: -35%;
		top: 15%;
	}
}

.featured-story .post-meta-box p {
	text-transform: none;
	display: none;
	@include breakpoint(baby-bear) {
		display: inline-block;
	}
}

.featured-story .post-meta-box .post-title {
  	font-size: 1.6rem;
  	@include breakpoint(baby-bear) {
		font-size: 2.1rem;
	}
}

.featured-meta-box {
	top: 5%;
	left: 50%;
	width: 90%;
	margin-left: -45%;
	text-align: center;

	h2 { display: inline-block; }
	h5, p { display: none; }
	.read-more-btn {
		display: none;
  	}

	@include breakpoint(baby-bear) {
		text-align: left;
		width: 85%;
		top: 15%;
		left: 60px;
		margin-left: 0;
		p { display: block; }
		p { border-top: 2px solid $gray-lighter; padding-top: 8px; }
	}
	@include breakpoint(mama-bear) {
		width: 85%;
		.read-more-btn {
			display: inline-block;
			width: 140px;
  			margin: 0 auto;
  		}
		h5 { display: block; margin-bottom: 0; }
	}
}

.home .featured-meta-box {
	display: none;
	@include breakpoint(mama-bear) {
		display: block;
		top: 30%;
		width: 80%;
	}
}

.post-description {
	text-transform: none;
}



/**
 *	POST PAGE
 *  Styles for the a single post on that page.
 */

.hero-image .post-title {
	position: absolute;
	width: 80%;
	bottom: 20px;
	text-align: center;
	left: 50%;
	margin-left: -40%;
	font-size: 1.6rem;
	@include breakpoint(baby-bear) {
		font-size: 2.4rem;
	}
	@include breakpoint(mama-bear) {
		width: 60%;
		margin-left: -30%;
	}
}

.hero-image-caption {
	position: absolute;
	top: 100%;
	left: 0;
	color: $text-color;
	text-shadow: none;
	font-size: .6em;
	max-width: 90%;
	margin-top: 5px;
	margin-left: 15px;

	@include breakpoint(mama-bear) {
		color: inherit;
		top: auto;
		bottom: 10px;
		max-width: 200px;
		@include text-over-image();
	}
}

.hero-image-caption-right {
	text-align: right;
	margin-right: 15px;
	margin-left: 0;
	left: auto; // reset default hero-image-caption left style
	right: 0;
}

.main-content > .container > p {
	margin: 0 0 14px;
	@include breakpoint(papa-bear) {
		  margin: 0 10% 14px 10%;
	}
}


.bylines {
	margin-bottom: 20px;
	text-align: center;
}

.byline {
	display: inline-block;
	font-weight: 700;
	padding: 0 5px;
	margin: 0;
	a { color: $text-color; &:hover { color: $brand-primary; } }
}

.byline:after { content: " |"; }

.byline:last-child:after { content: ""; }

.edit-post-link {
	text-align: center;
	font-size: .7em;
	margin-top: 100px;
}


.main-widgeted-text {
	text-align: center;
	margin-bottom: 10px;
	.font-size-large {
		font-size: 1.1rem;
	}
	@include breakpoint(mama-bear) {
		margin-bottom: 80px;
		font-size: 1.6rem;
	}
}




/**
 *	ABOUT PAGE
 *  Styles for the a single post on that page.
 */

.user {
	text-align: center;
	margin-bottom: 30px;
	h4 { margin-bottom: 0; }
	h6 { margin-top: 0; color: $gray-light; }
	.btn {
		padding: 0;
		color: $blue;
		&:hover { color: $gray-dark; }
	}
}

.author-link {
  display: inline-block;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 0;
}

.col-md-lead-in {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 0;
	@include breakpoint(mama-bear) {
		text-align: right;
		margin-top: 80px;
	}
}

.col-sm-lead-in {
	text-align: center;
	margin-bottom: 30px;
	@include breakpoint(baby-bear) {
		text-align: right;
	}
}



.credit-wrapper {
	padding: 15px;
	width: auto;
	@include breakpoint(papa-bear) { padding: 25px 0; }

	img {
		height: 36px;
		width: auto;
		display: block;
  		margin: 0 auto;
  		@include breakpoint(mama-bear) { height: 40px; }
  		@include breakpoint(papa-bear) { height: 52px; }
	}
}

.cooperator-feed a {
	padding: 1px;
  	display: inline-block;
  	height: 30px;
}


/**
 *	ARCHIVE & SEARCH PAGE
 *  Styles for the archive and search page.
 *  Both a successful search and a no-results search, yearly search and monthly search.
 */

.archive, .search {
	.btn-block { max-width: 150px; margin: 0 auto; }
}

/**
 *	SEARCH BAR
 *  Styles for the search bar as it appears on the main sections of the site.
 *  The hidden top search bar is styled in nav.scss
 */

 .main form.searchform {
 	margin: 50px auto;
 	text-align: center;
 	input {
 		width: 100%;
 		max-width: 300px;
 		@include breakpoint(baby-bear) {
 			width: 50%;
 		}
 	}
 }


/**
 *	FOOTER - SIDE WIDE
 *  Styles for the a the site-wide footer
 */

footer {
	background-color: $gray;
	color: $gray-lighter;
	padding: 0 15px 10px 15px;
	text-align: center;
	font-size: .8em;
	h6 { text-transform: uppercase; font-weight: 700; }
}

footer .col {
	min-height: 180px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid $gray-light;
	@include breakpoint(mama-bear) { border-right: 1px solid $gray-light; border-bottom: none; }
	&:last-child{ border-right: none; border-bottom: none; }
}

footer img {
	padding: 20px;
	width: 60%;
	min-width: 120px;
}




