@mixin block-centered($width) {
	display: block;
	left: 50%;
	width: $width;
	margin-left: -($width/2);
}

@mixin prop-transition($prop, $time) {
	-webkit-transition: $prop $time ease-out;
    -moz-transition: $prop $time ease-out;
    -o-transition: $prop $time ease-out;
    transition: $prop $time ease-out;
}

@mixin prop-transition-delayed($prop, $time, $delay) {
	-webkit-transition: $prop $time $delay ease-out;
    -moz-transition: $prop $time $delay ease-out;
    -o-transition: $prop $time $delay ease-out;
    transition: $prop $time $delay ease-out;
}

@mixin text-over-image() {
	color: $gray-lighter;
	a {
		color: $gray-lighter;
	}
	small { color: $gray-lighter; }
}

@mixin opacity-transition($num) {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
    &:hover, &:focus { opacity: $num; }
}

@mixin colors-transition($bg-color, $color, $border-color) {
	-webkit-transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;

    &:hover {
    	background-color: $bg-color;
    	color: $color;
    	border-color: $border-color;
    }
}