@mixin text-over-image() {
	color: $gray-lighter;
	text-shadow: $text-shadow-over-image;
	a {
		color: $gray-lighter;
		opacity: 1;
		-webkit-transition: all 500ms ease-out;
	    -moz-transition: all 500ms ease-out;
	    -o-transition: all 500ms ease-out;
	    transition: all 500ms ease-out;
		&:hover { opacity: .5; }
	}
	small { color: $gray-lighter; }
}