// These modules override the default Bootstrap modules.
// You may need to bring in additional styles from the Bootstrap
// stylesheets to continue modifying.

.well {
	border: none;
	background-color: transparent;
	font-size: .7rem;
	text-align: left;
	padding: 4px;
}

.small { color: $gray-darker !important; }

.badge {
	background-color: $brand-light;
	padding: 4px 8px;
}

a .badge:hover {
	background-color: $blue;
}

hr {
	margin-top: 28px;
	margin-bottom: 28px;
	border: 0;
	border-top: 1px solid $gray-light;
}

.logged-in .nivo-lightbox-close {
	top: 40px !important;
}


.btn-lg, .btn-group-lg > .btn, .btn {
 	border-radius: 0;
}

.btn-primary.btn-ghost {
	color: $brand-primary;
	background-color: transparent;

	&:focus, &:hover {
		color: $body-bg;
		background-color: $brand-primary;
		border-color: $brand-primary;
	}
}

.btn-block {
	margin: 0 auto;
}

.btn-max-width {
	max-width: 240px;
}

.btn-lg-max-width {
	max-width: 280px;
}

.pagination-sm > li > a, .pagination-sm > li > span {
  padding: 6px 12px;
  font-size: 14px;
}

// MODULES IN THE MAIN ARTICLE OF PAGES
// These are elements that are used in the article secion
// of pages. Things like responsive videos, images, sidebars and more.

/**********/
/* Images */
/**********/

figure.image {
	margin: 30px 0;
	display: inline-block;
}

figure.alignright {
	float: right;
	padding: 20px 0 20px 20px;
	margin: 0;
}

figure.alignleft {
	float: left;
	padding: 20px 20px 20px 0;
	margin: 0;
}


figure.featured, figure.full {
	width: 100%;
}

figure.full .caption-text {
	padding-right: 25px;
	padding-left: 25px;
}

.caption-text {
	font-size: $font-size-small;
	color: $gray-light;
	text-align: right;
	font-style: italic;
	width: 100%;
	float: right;
}

.main-content .container > img, .main-content .container > a > img  {
	margin: 50px 0; // Give margin to images without caption
}

.main-content .container > img.alignright, .main-content .container > a > img.alignright  {
	float: right;
	padding: 20px 0 20px 20px;
	margin: 0;
}

.main-content .container > img.alignleft, .main-content .container > a > img.alignleft  {
	float: left;
	padding: 20px 20px 20px 0;
	margin: 0;
}

.main-content .container > img.size-medium, .main-content .container > a > img.size-medium  {
	width: 600px;
}

.main-content .container > img.size-thumbnail, .main-content .container > a > img.size-thumbnail  {
	width: 300px;
}

figure.image > a > img {
	margin: 0; // Don't let captioned images get that margin
}

/*****************/
/* Video wrapper */
/*****************/

.video-wrapper {
    height: 0;
    padding-bottom: 54.25%;
    padding-top: 25px;
    position: relative;
    margin: 5px 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.timelapse-wrapper {
    height: 0;
    padding-bottom: 64%;
    padding-top: 25px;
    position: relative;
    margin: 5px 0;
}
.timelapse-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-featured {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 40px;
	@include breakpoint(mama-bear) {
		margin-top: 60px;
		margin-bottom: 80px;
	}
}

.video-aside {
	width: 100%;
	padding: 20px 0 20px 0;
	@include breakpoint(mama-bear) { width: 60%; }
}

.video-left {
	float: left;
	@include breakpoint(mama-bear) { padding: 20px 20px 20px 0; }
}

.video-right {
	float: right;
	@include breakpoint(mama-bear) { padding: 20px 0 20px 20px; }
}

/*********************/
/* Responsive Iframe */
/*********************/

.responsive-frame-aside {
    width: 100%;
    @include breakpoint(mama-bear) { width: 50%; }
}

.responsive-frame-left {
    float: left;
    padding-right: 20px;
}

.responsive-frame-right {
    float: right;
    padding-left: 20px;
}

/*********************/
/* Gallery of Images */
/*********************/

.gallery-item {
    padding: 20px;
}

.gallery img {
  	border: none !important;
}

.gallery .gallery-caption {
  display: none;
}


/*******************/
/* Featured Audio */
/******************/

.featured-audio {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px;
	background-color: $brand-primary;
	color: $gray-lighter;
	z-index: 1031;
}

.featured-audio-prompt {
	text-align: center;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 8px;
	@include breakpoint(mama-bear) {
		text-align: right;
		margin-bottom: 0;
		margin-top: 6px;
	}
}

.featured-audio div.mjp-s-wrapper.s-graphic {
	padding: 0;
	display: block;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto !important;
}

.featured-audio span.group_wrap {
  width: 80%;
  display: inline-block;
}

.featured-audio span.indi_mp3j {
	padding-left: 10px;
	z-index: 1031;
	color: white;
}


.featured-audio span.load_mp3j, .featured-audio span.loadB_mp3j {
  height: 112%;
}

.featured-audio span.posbarB_mp3j .ui-widget-header {
  background-color: $brand-primary !important;
}
.featured-audio span.posbarB_mp3j .ui-slider-handle, .featured-audio span.tintmarg {
  display: none;
}

.featured-audio span.posbarB_mp3j {
    visibility: visible;
  	background-color: $gray-darker !important;
}

.featured-audio .loadMI_mp3j, .featured-audio .loadB_mp3j, .featured-audio .load_mp3j {
  	background: none;
}

