// nav.navbar {
// 	background-color: rgba(0,0,0,0);
// 	height: 40px;
// 	position: absolute;
// }

.nav {
	ul { list-style-type: none; padding: 0; margin: 0; }
	li { display: inline-block; }
	a {
		display: block;
		padding: 30px;
		color: $gray-lighter;
		text-transform: uppercase;
		font-weight: 700;
		&:hover { color: $blue; background-color: $gray-lighter; }
	}
}

.navbar { 
	border-radius: 0;
	margin-bottom: 0;
}

.nav .searchform {
	padding: 20px 50px;
}

header.navbar {
	position: absolute;
	top: 0;
	width: 100%;
}

.collapse-bar {
	color: $gray-lighter;
	background-color: $blue;
	a { color: $gray-lighter; }
}

.navbar-left {
	margin-left: -15px;
}

.logged-in .navbar-fixed-top {
  top: 32px;
}

.logo { padding-top: 10px;}

.navbar-brand { width: 120px; }
