header {
	position: absolute;
	top: 0;
	width: 100%;
}

.nav { text-align: center; }

.navbar-nav { margin: 0 -15px; }


.nav > li > a {
	display: block;
	padding: 30px 40px;
	color: $gray-lighter;
	text-transform: uppercase;
	font-weight: 700;
	&:hover, &:focus { color: $blue; background-color: $gray-lighter; }
}

.nav#menu-social-menu > li {
	display: inline-block;
}

.footer-menu {
	border-bottom: 1px solid $gray-light;
}

.nav#footer-menu > li  {
	@include breakpoint(baby-bear) { display: inline-block; float: left; }
}

.nav#footer-menu > li > a {
	padding: 20px 30px;
	text-transform: lowercase;
	font-weight: 400;
	text-shadow: none;
	&:hover, &:focus { background-color: $gray-dark; color: $gray-lighter; }
}


#footer-menu.navbar-left {
	@include breakpoint(mama-bear) { float: none !important; }
}

#footer-menu.navbar-nav {
	margin: 0;
}

.nav .searchform {
	padding: 20px 40px;
}

.collapse-bar {
	color: $gray-lighter;
	background-color: $blue;
	a { color: $gray-lighter; }
}

.navbar-header { float: left; }

.logo { padding-top: 4px;}

.navbar-brand {
	width: 90px;
	padding-left: 0;
	@include breakpoint(mama-bear) { width: 100px; }
	@include breakpoint(mama-bear) { width: 110px; }
	@include breakpoint(papa-bear) { width: 120px; }
}
