// Animated actions at page load
.home .featured-meta-box h1, .home .featured-meta-box h2 {
	opacity: 0;
	margin-top: 40px;
}

.home .main-widgeted-text span { opacity: 0; color: $blue; }

.post-meta-box-lg {
	&.post-meta-box-short { top: 5%; @include breakpoint(baby-bear) { top: 25%; } }
	&.post-meta-box-normal { top: 8%; @include breakpoint(baby-bear) { top: 15%; } }
	&.post-meta-box-tall { top: 8%; }
	&.post-meta-box-ex-tall {
		top: 3%;
		width: 90%;
		margin-left: -45%;
	}
}

.post-meta-box-sm {
	&.post-meta-box-normal { top: 12%; @include breakpoint(baby-bear) { top: 25%; } }
	&.post-meta-box-tall {
		top: 12%;
		.post-title {
			font-size: .8rem;
		}
		@include breakpoint(baby-bear) { font-size: 1rem; }
	}
}


.post-thumbnail {
	img {
		opacity: .8;
		@include prop-transition(opacity, 500ms);
	}
	.post-title {
		display: block;
		opacity:1;
		@include prop-transition(opacity, 500ms);
	}
	.read-more-btn {
		opacity: 0;
		@include prop-transition(opacity, 500ms);
		@include prop-transition(margin-top, 400ms);
	}
	.post-meta-box-lg {
		&.post-meta-box-short .read-more-btn { margin-top: 20px; }
		&.post-meta-box-normal .read-more-btn { margin-top: 40px; }
		&.post-meta-box-tall .read-more-btn { margin-top: 50px; }
		&.post-meta-box-ex-tall .read-more-btn { margin-top: 60px; }
	}
	.post-meta-box-sm {
		&.post-meta-box-normal .read-more-btn { margin-top: -10px; }
		&.post-meta-box-tall .read-more-btn { margin-top: 10px; }
	}
}

.post-thumbnail.is-hovered {
	img { opacity: .5; }
	.post-title {
		opacity: 0;
    }
	.read-more-btn {
		opacity: 1;
	}
	.post-meta-box-lg {
		&.post-meta-box-short .read-more-btn { margin-top: 0; }
		&.post-meta-box-normal .read-more-btn { margin-top: 20px; }
		&.post-meta-box-tall .read-more-btn { margin-top: 30px; }
		&.post-meta-box-ex-tall .read-more-btn { margin-top: 40px; }
	}
	.post-meta-box-sm {
		&.post-meta-box-normal .read-more-btn { margin-top: -30px; }
		&.post-meta-box-tall .read-more-btn { margin-top: -10px; }
	}
}

.post-thumbnail.is-hovered.animation-complete .post-title {
	display: none;
}

.admin-bar.nav-is-open .iframe-full-width-height, .admin-bar.search-is-open .iframe-full-width-height {
	margin-top: 0;
}