//
// The PBT theme depends heavily upon Twitter's Bootstrap.
// This variable styelsheet is meant to provides a place to override much
// of the functionality in the Bootstrap _variables.scss sheet.
//
// You must run the SASS precompile with 'grunt build' in order
// to generate the theme's stylesheet.



//
// Variables
// --------------------------------------------------



//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13%);
$gray-dark:              lighten($gray-base, 20%);
$gray:                   lighten($gray-base, 33%);
$gray-light:             lighten($gray-base, 46%);
$gray-lighter:           lighten($gray-base, 98%);



$brand-primary:         #6aaac3;
$blue:					#6aaac3;
$brand-success:         #5cb85c;
$brand-info:            lighten($brand-primary, 10%);
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;



//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff;
//** Global text color on `<body>`.
$text-color:            $gray-dark;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: none;







//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-base:        $font-family-sans-serif;

// Font Awesome file directory
$fa-font-path:        	  "assets/fonts";

$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.9));
$font-size-small:         ceil(($font-size-base * 0.90));
$font-size-ex-small:      ceil(($font-size-base * 0.65));

$font-size-h1:            3.4rem;
$font-size-h2:            2.4rem;
$font-size-h3:            1.5rem;
$font-size-h4:            1rem;
$font-size-h5:            .8rem;
$font-size-h6:            .7rem;


//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px





//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.
$grid-gutter-width:         30px;
// Small screen / tablet
$container-tablet:             (630px + $grid-gutter-width);
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            (960px + $grid-gutter-width);
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (1100px + $grid-gutter-width);
$container-lg:                 $container-large-desktop;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

$screen-xs:                  440px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Small screen / tablet
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
$screen-lg:                  1170px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12;
$grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-md-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal;

$btn-default-color:              $gray-lighter;
$btn-default-bg:                 transparent;
$btn-default-border:             $gray-lighter;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             darken($btn-primary-bg, 1%);

// $btn-success-color:              #fff;
// $btn-success-bg:                 $brand-success;
// $btn-success-border:             darken($btn-success-bg, 5%);

$btn-info-color:                 $gray-lighter;
$btn-info-bg:                    $brand-primary;
$btn-info-border:                $gray-lighter;

// $btn-warning-color:              #fff;
// $btn-warning-bg:                 $brand-warning;
// $btn-warning-border:             darken($btn-warning-bg, 5%);

// $btn-danger-color:               #fff;
// $btn-danger-bg:                  $brand-danger;
// $btn-danger-border:              darken($btn-danger-bg, 5%);

// $btn-link-disabled-color:        $gray-light;

$borders-over-image: 1px solid white;

$text-shadow-over-image: 1px 1px 5px rgb(0, 0, 0);